@model IEnumerable<ReverseQuestWeb.Models.app_alert>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.reference_skey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alert_expiration_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alert_note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_by)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.reference_skey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alert_expiration_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alert_note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_by)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
